
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="payment-container">
    <div class="payment-item">
        <div class="payment-item-img">
            <img src="~/Images/ttknh.png" width="100%" height="100%" />
        </div>
        <div class="payment-item-description">
            <h2>Thanh toán khi nhận hàng</h2>
            <h6>Khi quý khách nhận hàng sẽ <b>thanh toán trực tiếp với nhân viên hoặc đối tác giao hàng của ReturnTeam.</b> Thanh toán tổng giá trị đơn hàng hoặc phần còn lại (sau khi khách hàng đã đặt cọc trước) bằng tiền mặt.</h6>
            <h6>Thanh toán COD áp dụng tất cả các Vùng miền / Tỉnh / Thành kể cả các hải đảo xa xôi như Hoàng Sa - Trường Sa của Việt Nam.</h6>
            <h6>Trong quá trình thanh toán COD có bất thường vui lòng gọi điện đến tổng đài  <b>028 7301 3878 (bấm phím 3)</b> sẽ có nhân viên vận hành hỗ trợ.</h6>
        </div>
    </div>

    <div class="payment-item">
       
        <div class="payment-item-description">
            <h2>Thanh toán chuyển khoản</h2>
            <h6>Quý khách có thể chuyển khoản hoặc Scan mã thanh toán QR code VietQR của ReturnTeam do công ty cổ phần thanh toán Việt Nam NAPAS cung cấp.</h6>
            <h6>VietQR là nhận diện thương hiệu chung cho các dịch vụ thanh toán, chuyển khoản bằng mã QR được xử lý qua mạng lưới Napas. Tiêu chuẩn cơ sở cho mã QR do Ngân hàng Nhà nước Việt Nam ban hành.</h6>
            <h6><b>Nội dung chuyển khoản theo cú pháp:</b></h6>
            <h6><b>Mã đơn hàng  - Số điện thoại đặt hàng - Tên khách hàng </b></h6>
            <br />
            <h6><b>Ví dụ: 12345 0909305350 Nguyễn Văn A</b></h6>
            <h6>Khách hàng: Nguyễn Văn A, SĐT: 0909305350 đã chuyển khoản thanh toán cho đơn hàng 12345</h6>

            <br />
            <h6><b>Lưu ý: khách hàng kiểm tra kĩ thông tin chuyển khoản phải khớp với thông tin trong đơn hàng.</b></h6>
        </div>

        <div class="payment-item-img">
            <img src="~/Images/ttck.jpg" width="100%" height="100%" />
        </div>
    </div>
    <div class="payment-item">
       
        <div class="payment-item-img">
            <img src="~/Images/tttt.png" width="100%" height="100%" />
        </div>

        <div class="payment-item-description">
            <h2>Thanh toán trực tiếp tại cửa hàng</h2>
            <h6>Quý khách có thể đến trực tiếp các cửa hàng tại TP. HCM để trải nghiệm rất nhiều sản phẩm chất lượng và thanh toán tiền mặt hoặc quẹt thẻ.</h6>
        </div>

    </div>


</div>

