@model IEnumerable<DoAnCuoiKi.Data.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-info">Đơn hàng</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Khách hàng
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Ngày nhận hàng
            </th>
            <th>
                Trạng thái đơn hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            var trangthai = item.status == 0 ? "Chờ vận chuyển" : item.status == 1 ? "Đang giao" : "Đã giao";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateReceive)
            </td>
            
            <td>
                @trangthai
            </td>
            <td>
                    <a class="text-light btn btn-warning order--btn-click-order-item text-center  d-block m-0 w-100" data-id="@item.orderId" href="#">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts{
    <script>
        $(document).ready(() => {


            
            (() => {
                var btnClicks = document.querySelectorAll('.order--btn-click-order-item');
                btnClicks.forEach(item => {
                    item.addEventListener('click', onClickOrderItem);
                });
            })();

            function onClickOrderItem() {
                var orderId = this.getAttribute("data-id");


                $.ajax({
                    url: "Orders/HandleClickOrderAdmin",
                    type: "post",
                    data: {
                        orderId: orderId,
                    },
                    success: function (data) {
                        window.location.href = data
                        //console.log("path: ", data)
                    }
                });
            }

        })
    </script>
}