@model DoAnCuoiKi.Data.User;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-light">Tạo tài khoản</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin: 0  auto;">
        <form asp-action="Create" >
            <div class="form-group">
                <label class="control-label">Họ tên</label>
                <input name="name" class="form-control" required value="@Model?.name"/>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input name="phone" type="number" class="form-control" required value="@Model?.phone" />
            </div>
             <div class="form-group">
                <label class="control-label">Email</label>
                <input name="email" type="email" class="form-control" required />
            </div>
             <div class="form-group">
                <label class="control-label">Giới tính</label>
                <select class ="form-select" name="gender">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
             <div class="form-group">
                <label class="control-label">Mật khẩu</label>
                <input name="password" type="password" class="form-control" required value="@Model?.password" />
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ</label>
                <input name="address" class="form-control" required value="@Model?.address" />
            </div>
            <div class="form-group">
                <label class="control-label">Chức vụ</label>
                <select class="form-select" name="role">
                    <option value="Customer">Customer</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            

            <div class="form-group text-center d-flex justify-content-evenly mt-3">
                <div class="btn btn-warning">
                    <a style="text-decoration:none; color:white;" asp-action="Index">Quay lại</a>
                </div>
                <input type="submit" value="Xác nhận" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(() => {
            $("[name='gender']").val("@Model?.gender");
            $("[name='role']").val("@Model?.role");
        })

        if(@Model?.name?.Length > 0){
            alert("Email đã tồn tại!")
        }
    </script>
}