
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Giới thiệu ReturnTeam</h2>
<h4>Giới thiệu chung</h4>
<h6>Công ty Cổ phần Xây dựng và Đầu tư thương mại ReturnTeam sở hữu chuỗi cửa hàng ReturnTeam - là nhà bán lẻ hàng đầu, chuyên cung cấp các sản phẩm công nghệ chính hãng tại thị trường Việt Nam. Năm 2022, ReturnTeam được thành lập, từng bước trở thành địa chỉ đáng tin cậy của người tiêu dùng Việt. Với khẩu hiệu “Nếu những gì chúng tôi không có, nghĩa là bạn không cần”, chúng tôi đã, đang và sẽ tiếp tục nỗ lực đem đến các sản phẩm công nghệ chính hãng đa dạng, phong phú đi kèm mức giá tốt nhất phục vụ nhu cầu của quý khách hàng. </h6>
<h6>Sau 2 năm phát triển, ReturnTeam đã trở thành cái tên không còn xa lạ với người tiêu dùng trong nước. Hiện nay chúng tôi đang sở hữu  2 chi nhánh phủ tại Tp.Hồ Chí Minh, trong đó bao trung tâm bảo hành tại Tp. Hồ Chí Minh. Đến với chuỗi cửa hàng của ReturnTeam, quý khách có thể hoàn toàn yên tâm về uy tín, chất lượng sản phẩm với mức giá rẻ hơn khoảng 15-20% so với giá bán trên thị trường. Song song với đó, chúng tôi cũng luôn nỗ lực phục vụ đem đến trải nghiệm dịch vụ tốt nhất cho khách hàng. </h6>

<br />
<br />

<h4>Những dấu mốc quan trọng</h4>
<ul>
    <li>Năm 2020: Thành lập cửa hàng ReturnTeam đầu tiên tọa lạc trên con phố sầm uất của Tp.HCM - 280 An Dương Vương, Phường 4, Quận 5, TP.HCM.</li>
    <li>Năm 2021: ReturnTeam chính thức trở thành nhà phân phối linh kiện máy tính chính hãng hợp tác với nhiều nhãn hàng lớn hàng đầu như Samsung, Apple, Huawei,...</li>
    <li>Năm 2022: Thành lập chi nhánh thứ 2 tại 351 Lạc Long Quân, Phường 5, Quận 11, TP.HCM</li>
</ul>



<br />
<br />

<h4>Tôn chỉ hoạt động </h4>
<h6>Những năm qua, chúng tôi không ngừng cải thiện dịch vụ tại các chi nhánh và hỗ trợ khách hàng qua các kênh online. ReturnTeam cam kết mang đến những sản phẩm chất lượng và chế độ bảo hành uy tín, sẵn sàng hỗ trợ khách hàng trong thời gian nhanh nhất.</h6>
<h6>Trong tương lai, ReturnTeam sẽ tiếp tục mở rộng hệ thống chi nhánh, hướng tới mục tiêu có mặt tại 63 tỉnh thành trên toàn quốc. Đồng thời, nâng cao chất lượng dịch vụ, hạn chế những rủi ro, lắng nghe và tiếp thu góp ý của quý khách hàng nhằm đem đến trải nghiệm tốt nhất khi mua sắm tại ReturnTeam. </h6>
<h6>Cuối cùng,ReturnTeam hy vọng sẽ trở thành nhà tiên phong đưa những sản phẩm công nghệ mới nhất đến tay người dùng sớm nhất, tạo ra cuộc sống hiện đại nơi công nghệ kết nối con người, công nghệ phục vụ con người</h6>
