@model DoAnCuoiKi.Areas.Admin.Models.ProductCreateDataModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-light">Tạo mới sản phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin: 0  auto;">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label  class="control-label">Tên sản phẩm</label>
                <input name="name" class="form-control" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input name="description" class="form-control" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input name="image" type="file" class="form-control" required />
            </div>
            <div class="form-group">
                <label  class="control-label">Số lượng</label>
                <input name="amount" type="number" class="form-control" required/>
            </div>
            <div class="form-group">
                <label  class="control-label">Giá</label>
                <input name="price" type="number" class="form-control" required/>
            </div>
            <div class="form-group">
                <label  class="control-label">Thương hiệu</label>
                <select name="brandId" class ="form-control">
                    @foreach(var item in Model.brand){
                        <option value="@item.brandId">@item.name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label  class="control-label">Danh mục</label>
                <select name="categoryId" class ="form-control">
                    @foreach (var item in Model.category)
                    {
                        <option value="@item.categoryId">@item.name</option>
                    }
                </select>
            </div>
            
            <div class="form-group text-center d-flex justify-content-evenly mt-3">
                <div class="btn btn-warning">
                    <a style="text-decoration:none; color:white;" asp-action="Index">Quay lại</a>
                </div>
                <input  type="submit" value="Xác nhận" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



