@{
	Layout = null;
}


<!doctype html>
<html lang="en">
<head>
	<title>RETURN TEAM</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-1">
					<h2 class="heading-section">Đăng ký</h2>
				</div>									 
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<form method="post" asp-action="Index" asp-controller="Register" class="register-form">
							<div class="form-group">
								<input name="name" type="text" class="form-control" placeholder="Họ tên" required>
							</div>

							<div style="text-align:center; ">
								<div class="form-check form-check-inline">
									<label class="form-check-label" for="radio1">
										<input name="gender" type="radio" class="form-check-input" id="radio1"  value="Nam" checked>Nam
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label" for="radio2">
										<input name="gender" type="radio" class="form-check-input" id="radio2" value="Nữ">Nữ
									</label>
								</div>

								<div class="form-group">
									<input name="email" type="email" class="form-control" placeholder="Email" required>
								</div>
							</div>

							<div class="form-group">
								<input name="password" id="password-field" type="password" class="form-control" placeholder="Mật khẩu" minlength="6" required>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>

							<div class="form-group">
								<input name="phone" type="text" class="form-control" placeholder="Số điện thoại" required>
							</div>
							

							<div class="form-group">
								<input name="address" type="text" class="form-control" placeholder="Địa chỉ" required>
							</div>


							
							<div class="form-group">
								<button type="submit" id="btn-dang-nhap" class="form-control btn btn-primary submit px-3">Đăng ký</button>
							</div>
							
						</form>
						<p class="w-100 text-center">&mdash;&mdash; Hoặc  &mdash;&mdash;</p>
						<div class="social d-flex text-center">
							<a href="/login" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Đăng nhập</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/popper.js"></script>
	<script src="~/js/main.js"></script>

</body>
</html>

