
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCategory.cshtml";
}

<div 
    style="
        width:100%; 
        height:100%;
        background-image: url(images/notfound.png);
        background-size:contain;
        background-position:center center;
        background-repeat:no-repeat;
        "   
></div>

