html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.li-category {
    position: relative;
    right: 0;
    transition: 0.5s;
    
}

.li-category:hover {
    right: 10px;
    opacity:0.7;
}

