html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row-custom {
    margin-left: -10px;
    margin-right: -10px;
    width:100%;
}

/*---LayoutCategory------------------------------------------------------------------------------------*/


.li-category {
    position: relative;
    right: 0;
    transition: 0.3s;
    
}

.li-category:hover {
    right: 10px;
    opacity:0.7;
}


/*---LayoutCategory------------------------------------------------------------------------------------*/

/*---Home product------------------------------------------------------------------------------------*/

.wrapper-item-product {
    padding: 5px;
    width: 20%;
    cursor: pointer;
}

.item-product {
    border-radius: 5px;
    border: 1px solid #cecece;
    background: white;
    overflow:hidden;
}

.item-product-img {
    border-radius:5px;
    width:100%;
    height:200px;
}

.item-product-name {
    margin: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #555;
    font-weight: 400;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-product-price {
    margin: 5px;
    font-size: 15px;
    line-height: 18px;
    color: orangered;
    font-weight: 500;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-overflow: ellipsis;
}
/*---Home product------------------------------------------------------------------------------------*/

/*---Product detail------------------------------------------------------------------------------------*/
.product-detail {
    background-color:white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius:10px;
}

.product-detail h6 {
    margin: 0;
    line-height: 1.8;
}
.product-detail-name{
    text-align:center;
}

.product-detail-text-title {
    color: #0dcaf0;
}

.product-detail-text-maxheight{
    max-height:300px;
    overflow-y: auto;
}

/*---Product detail------------------------------------------------------------------------------------*/
/*---Cart------------------------------------------------------------------------------------*/
.cart-container {
    height: calc(100vh - 150px);
    display:flex;    
    justify-content:space-evenly;
}


.my-active{
    display:block;
}

.my-disable{
    display:none;
}


.cart-container-left, .cart-container-right {
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.cart-container-left {
    max-height:calc(100vh-150px);
    overflow-y:auto;
    width:65%;
    background:white;
}
.cart-container-right {
    width: 35%;
    background: rgb(59,113,202);
}

.cart-item {
    display:flex;
}

.cart-item + .cart-item{
    position:relative;
    margin-top:30px;
}

.cart-item + .cart-item :before{
    display:block;
    content:"";
    width:60%;
    position:absolute;
    top:-15px;
    left:50%;
    height:1px;
    border-top:2px #e3e3e3 dashed;
    transform:translate(-50%,0);
}

.cart-item-img {
    width: 10%;
    text-align: center;
}
.cart-item-img img{
    width:80%;
    border-radius:5px;
}
.cart-item-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.cart-item-content-name,
.cart-item-content-price,
.cart-item-amount,
.cart-item-amount-text,
.cart-item-amount-action-count {
    margin: 0;
    padding: 0;
    font-size: 18px
}

.cart-item-content-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item-content-price {
    color: orangered;
}
.cart-item-amount{
    width:30%;
    display:flex;
    flex-direction:column;
}

.cart-item-amount-text {

}
.cart-item-amout-action {
    display: flex;
    justify-content:center;
    width:100%;
    align-items:center;
}
.cart-item-amount-action-btn{
    width:20px;
    height:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:3px;
    background-color:orange;
    font-size:20px;
    padding:12px;
    color:white;
    cursor:pointer;
}
.cart-item-amount-action-btn:hover{
    opacity:0.7;  
}

.cart-item-amount-action-count {
    width: 30%;
    text-align: center;
}


/*---Cart------------------------------------------------------------------------------------*/
/*---Order------------------------------------------------------------------------------------*/

.order-container {
    background: white;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    padding: 10px;
    height: calc(100vh - 200px);
}
.order-header{
    text-align:center;
    font-size:2rem;
}

.list-order {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    overflow-y:auto;
}
.item-order {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    background: #50ffe4;
    border: 1px solid #50ffe4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.item-order + .item-order{
    margin-top:20px;
}

.item-order h4,
.item-order a {
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    padding: 0;
}

.item-order-1 {
    width: 40%;
}
.item-order-2{
    width:40%;
}
.item-order-3{
    width:20%;
}


/*---Order------------------------------------------------------------------------------------*/
/*---OrderDetail------------------------------------------------------------------------------------*/
.order-detail-container {
    background: white;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    padding: 10px;
    min-height: calc(100vh - 200px);
}

.orderDetail-header{
   font-size:25px;
   color:orange;
   text-align:center;
}

.orderDetail-box-content {
    display:flex;
}
.orderDetail-box-item{
    width:50%;
    font-size:18px;
    line-height:1.8;
}

.orderDetail-listDetail{
}

.orderDetail-itemDetail{
    display:flex;
    padding:10px;
    border:1px dashed #cbcbcb;
    border-radius:5px;
}
.orderDetail-itemDetail + .orderDetail-itemDetail{
    margin-top:10px;
}

.orderDetail-itemDetail-img {
    width: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.orderDetail-itemDetail-img img{
    width:60%;
    border-radius:3px;
}

.orderDetail-itemDetail-2,
.orderDetail-itemDetail-1{
    width:45%;
    display:flex;
    flex-direction:column;
}

.orderDetail-itemDetail-content{
    font-size:18px;
    margin:5px;
}

/*---OrderDetail------------------------------------------------------------------------------------*/
/*---User info------------------------------------------------------------------------------------*/
.user-info-container {
    align-items: center;
    min-height: calc(100vh - 200px);
    display:flex;
    align-items:center;
    gap:20px;
    justify-content:center;
}

.user-info-left {
    width: 50%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    padding: 20px;
    background: white;
}
/*.user-info-right {
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}*/

.user-info-left img{
    width:200px;
    height:200px;
    border-radius:50%;
}

.user-info-left h4{
    text-align:left;
    padding-left:20px;
}
/*---User info------------------------------------------------------------------------------------*/
/*---Contacts------------------------------------------------------------------------------------*/
.contacts-container{
    display:flex;
    flex-flow:row wrap;
}

.contacts-wraper{
    width: calc(50%);
    padding: 20px;

}

.contacts-info {

}
.contacts-map{

}

/*---Contacts------------------------------------------------------------------------------------*/
/*---Payment------------------------------------------------------------------------------------*/
.payment-container {
    
}
.payment-item {
    display: flex;
    margin-top: 30px;
}

.payment-item-img{
    width:35%;
    border-radius:30px;
    overflow:hidden;
}
.payment-item-description{
    width:65%;
    padding:20px;
}

.payment-item-description h2{
    color:white;
    text-align:center;
}
.payment-item-description h6{
    line-height:1.8;
}

/*---Payment------------------------------------------------------------------------------------*/


.color-white-i{
    color:white !important;
}