html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row-custom {
    margin-left: -10px;
    margin-right: -10px;
    width:100%;
}

/*---LayoutCategory------------------------------------------------------------------------------------*/


.li-category {
    position: relative;
    right: 0;
    transition: 0.3s;
    
}

.li-category:hover {
    right: 10px;
    opacity:0.7;
}


/*---LayoutCategory------------------------------------------------------------------------------------*/

/*---Home product------------------------------------------------------------------------------------*/

.wrapper-item-product {
    padding: 5px;
    width: 20%;
    cursor:pointer;
}

.item-product {
    border-radius:5px;
    border:1px solid #cecece;
}

.item-product-img {
    border-radius:5px;
    width:100%;
    height:200px;
}

.item-product-name {
    margin: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #555;
    font-weight: 400;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-product-price {
    margin: 5px;
    font-size: 15px;
    line-height: 18px;
    color: orangered;
    font-weight: 500;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-overflow: ellipsis;
}
/*---Home product------------------------------------------------------------------------------------*/

/*---Product detail------------------------------------------------------------------------------------*/
.product-detail {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius:10px;
}

.product-detail h6 {
    margin: 0;
    line-height: 1.8;
}
.product-detail-name{
    text-align:center;
}

.product-detail-text-title {
    color: #0dcaf0;
}

.product-detail-text-maxheight{
    max-height:300px;
    overflow-y: auto;
}

/*---Product detail------------------------------------------------------------------------------------*/
/*---Cart------------------------------------------------------------------------------------*/
.cart-container {
    height: calc(100vh - 150px);
    display:flex;    
    justify-content:space-evenly;
}


.my-active{
    display:block;
}

.my-disable{
    display:none;
}


.cart-container-left, .cart-container-right {
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.cart-container-left {
    max-height:calc(100vh-150px);
    overflow-y:auto;
    width:65%;
}
.cart-container-right {
    width: 35%;
    background: rgb(59,113,202);
}

.cart-item {
    display:flex;
}

.cart-item + .cart-item{
    position:relative;
    margin-top:30px;
}

.cart-item + .cart-item :before{
    display:block;
    content:"";
    width:60%;
    position:absolute;
    top:-15px;
    left:50%;
    height:1px;
    border-top:2px #e3e3e3 dashed;
    transform:translate(-50%,0);
}

.cart-item-img {
    width: 10%;
    text-align: center;
}
.cart-item-img img{
    width:80%;
    border-radius:5px;
}
.cart-item-content {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.cart-item-content-name,
.cart-item-content-price,
.cart-item-amount,
.cart-item-amount-text,
.cart-item-amount-action-count {
    margin: 0;
    padding: 0;
    font-size: 18px
}

.cart-item-content-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-item-content-price {
    color: orangered;
}
.cart-item-amount{
    width:30%;
    display:flex;
    flex-direction:column;
}

.cart-item-amount-text {

}
.cart-item-amout-action {
    display: flex;
    justify-content:center;
    width:100%;
    align-items:center;
}
.cart-item-amount-action-btn{
    width:20px;
    height:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:3px;
    background-color:orange;
    font-size:20px;
    padding:12px;
    color:white;
    cursor:pointer;
}
.cart-item-amount-action-btn:hover{
    opacity:0.7;  
}

.cart-item-amount-action-count {
    width: 30%;
    text-align: center;
}


/*---Cart------------------------------------------------------------------------------------*/



