
@model IEnumerable<DoAnCuoiKi.Data.Category>

<p>
    <a asp-action="Create"> view component category</a>
</p>


@if(Model != null){
    <ul style="padding:0">
        @foreach (var item in Model)
        {
            <li style=" text-transform:uppercase; list-style:none; margin:3px 0;">
                <button class="li-category btn btn-info w-100">@item.name</button>
            </li>
        }
    </ul>
}
