@model DoAnCuoiKi.Data.Brand

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div class="row product-detail">
    <div class="d-flex justify-content-end">
        <a class="btn btn-info text-light" asp-action="Index" asp-controller="Brands" asp-area="Admin"><i class="fa-solid fa-backward"></i> Quay lại</a>
    </div>
    
    <div class="col-6 ">
        <h4 class="product-detail-name">@Model.name</h4>
    </div>
</div>

