@model DoAnCuoiKi.Data.Brand


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center text-light">Cập nhật thương hiệu</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin: 0  auto;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label">Mã thương hiệu</label>
                <input name="id" class="form-control" readonly value="@Model.brandId"/>
            </div>

            <div class="form-group">
                <label class="control-label">Tên thương hiệu</label>
                <input name="name" class="form-control" required value="@Model.name" />
            </div>

            <div class="form-group text-center d-flex justify-content-evenly mt-3">
                <div class="btn btn-warning">
                    <a style="text-decoration:none; color:white;" asp-action="Index">Quay lại</a>
                </div>
                <input type="submit" value="Xác nhận" class="btn btn-primary" />
            </div>
            
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

